doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootplus.css')
    link(rel='stylesheet', href='/stylesheets/appStyle.css')
    link(rel='stylesheet', href='/stylesheets/bootFontAwesome.css')
  body
    block content